services:
  backend:
    env_file:
      - ./backend/.env.test
    volumes:
      - ./backend/.env.test:/app/.env.test:ro
    command: npm run start:test
    environment:
      - CORS_ORIGIN=http://localhost:3000,http://frontend:3000,https://chat-app-koob.onrender.com

  frontend:
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://backend:4000

  e2e:
    build:
      context: ./e2e
      dockerfile: dockerfile
    environment:
      - DOCKER=true
      - BACKEND_URL=http://backend:4000
      - BASE_URL=http://frontend:3000
    depends_on:
      - backend
      - frontend
    volumes:
      - ./e2e/test-results:/app/test-results
      - ./e2e/playwright-report:/app/playwright-report