services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - BACKEND_URL=${BACKEND_URL}
    volumes:
      - ./frontend:/app    

    command: npm run dev

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    dns:
      - 1.1.1.1
      - 8.8.8.8
    environment:
      - CLIENT_URL=http://frontend:5173
      - MONGODB_URI=${MONGODB_URI}
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=${NODE_ENV}
      - LIVEKIT_API_KEY=${LIVEKIT_API_KEY}
      - LIVEKIT_API_SECRET=${LIVEKIT_API_SECRET}
      - LIVEKIT_URL=${LIVEKIT_URL}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_CALLBACK_URL=${GOOGLE_CALLBACK_URL}
      - FRONTEND_URL=${FRONTEND_URL}
      - MS_CLIENT_ID=${MS_CLIENT_ID}
      - MS_CLIENT_SECRET=${MS_CLIENT_SECRET}
    volumes:
      - ./backend/src:/app/src
      - ./backend/.env:/app/.env
    command: npm run dev
  
  livekit:
    image: livekit/livekit-server
    container_name: livekit
    ports:
      - "7880:7880"
      - "7881:7881/tcp"
      - "7882:7882/udp"
    command: >
      --dev
      --bind 0.0.0.0
    environment:
      LIVEKIT_KEYS: "devkey: 9f62c0bb94e94b1b88d86fbb1c9c83d05c634fc9d8e56b431d8f3a11ab3e2a7c"
      LIVEKIT_API_KEY: devkey
      LIVEKIT_API_SECRET: 9f62c0bb94e94b1b88d86fbb1c9c83d05c634fc9d8e56b431d8f3a11ab3e2a7c
      LIVEKIT_LOG_LEVEL: debug
