services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    volumes:
    - ./frontend:/app
    - /app/node_modules
    command: npx prisma generate && npm run dev

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/src:/app/src
    command: npm run start:dev
  
  livekit:
    image: livekit/livekit-server
    container_name: livekit
    ports:
      - "7880:7880"
      - "7881:7881/tcp"
      - "7882:7882/udp"
    command: >
      --dev
      --bind 0.0.0.0
    env_file:
      - .env
    environment:
      LIVEKIT_LOG_LEVEL: debug
