.message-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  display: inline-block;
  max-width: fit-content;
  padding: 10px;
  margin-bottom: 12px;
  background-color: #40444b;
  border-radius: 6px;
  word-wrap: break-word;
}

.message-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #99aab5;
  background-color: #2f3136;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #40444b;
  color: white;
}

.message-input button {
  padding: 10px 20px;
  border: none;
  background-color: #7289da;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.message-input button:hover {
  background-color: #5b6eae;
}
